#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container-hero {
  position: relative;
  border-radius: 15px;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  height: 76vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

/* 4k version */
@media (min-width: 3000px) {
  .container-hero {
    background-image: url("assets/hero-background-4k.svg");
  }
}

/* Desktop version */
@media (min-width: 1024px) {
  .container-hero {
    background-image: url("assets/hero-background-desktop.svg");
  }
}

/* Tablet version */
@media (min-width: 768px) and (max-width: 1023px) {
  .container-hero {
    background-image: url("assets/hero-background-tablet.svg");
  }
}

/* Mobile version */
@media (max-width: 767px) {
  .container-hero {
    background-image: url("assets/hero-background-mobile.svg");
  }
}

.container-about {
  position: relative;
  border-radius: 15px;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("./assets/background.webp"); */
  background-color: #fafafa;
}

.container-gallery {
  position: relative;
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #fafafa;
}

.container-faq {
  position: relative;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1100px;
  padding: 100px;
  overflow: hidden;
  height: auto;
  display: flex;
  background-image: url("./assets/paint-brush.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fafafa;
}

.container-waves {
  position: relative;
  border-radius: 15px;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  height: 76vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer {
  position: relative;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1100px;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.container-services {
  position: relative;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1100px;
  padding: 30px;
  overflow: hidden;
  height: auto;
  background-color: #fff;
  background-image: url("./assets/paint-brush-with-liquid-paint.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.container-services-waves {
  position: relative;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1100px;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  height: auto;
  z-index: 40;
}
