#root {
  margin: 0;
  padding: 2rem;
  max-width: 1400;
}

.container-faq {
  position: relative;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  height: fit-content;
  overflow: hidden;
  display: flex;
}

.container-waves {
  position: relative;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-section {
  position: relative;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  display: flex;
}

.container-footer {
  position: relative;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 50px;
  overflow: hidden;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.container-services {
  position: relative;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  background-color: #fff;
  height: 96vh;
}

.logo-images {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.logo-images:hover {
  -webkit-filter: none;
  filter: none;
}

.container-references {
  position: relative;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  border: 2px solid #e7e7e9;
}
