#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container-hero {
  position: relative;
  border-radius: 15px;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

/* Desktop version */
@media (min-width: 768px) {
  .container-hero {
    background-image: url('assets/hero-background-desktop.svg');
  }
}

/* Mobile version */
@media (max-width: 767px) {
  .container-hero {
    background-image: url('assets/hero-background-mobile.svg');
  }
}

.container-about {
  position: relative;
  border-radius: 15px;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("./assets/background.webp"); */
  background-color: #fafafa;
}

.container-gallery {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border-radius: 15px;
}

.container-faq {
  position: relative;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1100px;

  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.container-footer {
  position: relative;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1100px;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.container-services {
  position: relative;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1100px;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  height: auto;
  background-color: #fafafa;
}